In [1]:
import pandas as pd

In [12]:
fnamea='../out_n.txt'
fnameb='../out_t.txt'

In [2]:
dfn=pd.read_csv('../out_n.txt')
dft=pd.read_csv('../out_t.txt')

In [7]:
coln=dfn.columns
colt=dft.columns
col=[col for col in coln if col in colt]

In [8]:
dfn=dfn[col]
dft=dft[col]

In [9]:
dfn.head()

,patient_id,A1BG,A1CF,A2M,A2ML1,A3GALT2,A4GALT,A4GNT,AAAS,AACS,...,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3
0,TCGA-P8-A5KC,A,A,C,A,A,B,A,B,B,...,A,B,B,B,B,A,B,C,B,A
1,TCGA-P8-A5KD,A,A,B,A,A,B,A,B,A,...,A,B,B,B,B,A,B,B,B,B
2,TCGA-SQ-A6I4,A,A,C,A,A,B,A,B,B,...,A,B,B,B,B,A,B,C,B,B
3,TCGA-W5-AA2I,C,B,C,A,A,A,A,B,A,...,A,B,B,B,B,A,B,B,A,A
4,TCGA-W5-AA2Q,C,B,C,A,A,A,A,B,A,...,A,B,B,B,B,A,B,B,A,A

In [10]:
dft.head()

,patient_id,A1BG,A1CF,A2M,A2ML1,A3GALT2,A4GALT,A4GNT,AAAS,AACS,...,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3
0,TCGA-P8-A5KC,A,A,C,A,A,B,A,B,B,...,B,B,B,B,B,A,B,C,B,B
1,TCGA-P8-A5KD,B,A,C,A,A,A,A,B,B,...,B,B,B,B,B,A,B,C,B,B
2,TCGA-SQ-A6I4,A,A,C,A,A,B,A,B,B,...,A,B,B,B,B,A,B,C,B,A
3,TCGA-W5-AA2I,A,B,B,A,A,A,A,B,B,...,B,C,A,B,B,A,A,B,A,B
4,TCGA-W5-AA2Q,A,B,C,A,A,B,A,B,B,...,B,B,B,B,B,A,B,C,B,B

In [13]:
dfn.to_csv(fnamea.replace('.txt','')+'matched.csv',index=None)

In [14]:
dft.to_csv(fnameb.replace('.txt','')+'matched.csv',index=None)